@font-face {
    font-family: "Rich Punk";
    src: url('../../fonts/Rich-Punk.ttf') format('truetype');
}
@font-face {
    font-family: "Cooper Black";
    src: url('../../fonts/Cooper-Black.ttf') format('truetype');
}
@font-face {
    font-family: "Arial Black";
    src: url('../../fonts/Arial-Black.ttf') format('truetype');
}
body{
    background-color: #fffcf6;
}
a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}
.project-container{
    display: inline-grid;
    width:fit-content;
    grid-template-columns: auto;
    grid-template-rows: fit-content(35%) fit-content(5%) fit-content(15%) fit-content(10%) fit-content(15%);
    row-gap: 6px;
    column-gap: 3px;
    object-fit: cover;
}
.project-text{
    font-family: 'Inter';
    font-size: 1.3em;
    margin: 0 auto;

    white-space: pre-line;
}
.section{
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
}
.section-heading{
    font-size: 4em;
    text-align: right;
    font-family: 'Cooper Black';
    color: #F03139;
}
.section-heading::first-letter{
    font-family: 'Rich Punk';
}
.section-linebreak-container{
    margin-bottom: 20px;
}
.section-linebreak{
    width: auto;
    height: 20px;
}
.yellow{
    background-color: #ffe15d;
}
.green{
    background-color: #2ee152;
}
@media screen and (max-width:1200px){
    .project-img-container{
        justify-content: center;
        grid-template-columns: repeat(auto-fill,minmax(0,300px));
        grid-template-rows: repeat(auto-fill,auto);
    }
}
/*  ipad sizes and stuff idk */
@media screen and (min-width:1200px) and (max-width: 1500px){
    .project-img-container{
        grid-template-columns: repeat(auto-fill,minmax(0,33em));
        grid-template-rows: auto;
    }
}
/* its a little awkward but its whatever at this point */
@media screen and (min-width:1500px){
    .project-img-container{
        grid-template-columns: repeat(auto-fill,minmax(0,370px));
        grid-template-rows: auto;
    }
}
/* top a tag */
.project-img-container{
    display: grid;
    column-gap: 6px;
}
.project-img-container > img,
.project-img-container > video{
    margin: 4px;
    /* grid-column: auto / span 1;
    grid-row: 1 / span 1; */
    max-width: 100%;
    align-self: center;
}

.project-title{
    color: #F03139;
    font-family: 'Arial Black';
    font-size: 30px;
}
@media screen and (min-width:700px){
    .project-title{
        display: inline;
    }
}
.project-a-tag{
    color: #F03139;
    font-weight: bold;
}
.project-a-tag:hover{
    text-decoration: underline;
    text-decoration-color: #F03139;
}
/* subtitle */
.project-subtitle{
    font-family: 'Inter';
    font-size: 11px;
    color: black;
    font-weight: 700;
    display: inline;
}

/* links */
.project-links-area{
    display: flex;
    flex-direction: column;
}
.project-links-area > span{
    line-height: 0%;
}

.project-link{
    display: inline-flex;
}
/* single span link */
.project-link-text{
    align-content: center;
    margin-right: 10px;
    font-family: 'Inter';
    font-weight: 800;
    color: #1f75a3;
}

.project-link > a,
.project-link-img{
    max-width: 25px;
    max-height: 25px;
}

/* dev tags */
.project-tag{
    display:inline-block;
    border: solid 3px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 3px;
    border-radius:10px;
    border-color: #1f75a3;

    /* text */
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter';
    color: #1f75a3;
}

/* line break */
hr{
    background-color: #1f75a3;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}